In [2]:
row = ['dress', 'shirt', 'skirt', 'trouserts']

In [5]:
row.append('socks')

In [6]:
row

['dress', 'shirt', 'skirt', 'trouserts', 'dress', 'socks']

In [7]:
row [3]

'trouserts'

In [8]:
row[2] = 'trainers'

In [9]:
row

['dress', 'shirt', 'trainers', 'trouserts', 'dress', 'socks']

In [10]:
row.append ('flex')

In [11]:
row

['dress', 'shirt', 'trainers', 'trouserts', 'dress', 'socks', 'flex']

In [13]:
row.insert(0,'smile')

In [14]:
row

['smile', 'dress', 'shirt', 'trainers', 'trouserts', 'dress', 'socks', 'flex']

In [15]:
row [3]

'trainers'

In [17]:
row.index('trouserts')

4

In [18]:
row.pop (4)

'trouserts'

In [19]:
row

['smile', 'dress', 'shirt', 'trainers', 'dress', 'socks', 'flex']

In [20]:
row.remove ('shirt')

In [21]:
row

['smile', 'dress', 'trainers', 'dress', 'socks', 'flex']

In [22]:
""" A 3-Dimensional Valet Service """

# 2D list of lists
#  - index cars by row, spot
lot_2d = [['Toyota','Audi','BMW'], # 0th row
          ['Lexus','Jeep'],        # 1st row
          ['Honda','Kia','Mazda']] # 2nd row

# 3D list of lists of lists
#  - index cars by floor, row, spot
lot_3d = [[['Telsa','Fiat','BMW'], # 0th floor
           ['Honda','Jeep'],        
           ['Saab','Kia','Ford']],
          [['Subaru','Nissan'],    # 1st floor
           ['Volvo']],
          [['Mazda','Chevy'],      # 2nd floor
           [],
           ['Volkswagen']]]

In [23]:
lot_2d

[['Toyota', 'Audi', 'BMW'], ['Lexus', 'Jeep'], ['Honda', 'Kia', 'Mazda']]

In [30]:
lot_2d[1]

['Lexus', 'Jeep']

In [31]:
lot_2d[1][1]

'Jeep'

In [33]:
lot_3d[2][2]

['Volkswagen']

In [36]:
lot_3d[0][1][0]

'Honda'

In [37]:
for car in lot_3d:
    print(car)

[['Telsa', 'Fiat', 'BMW'], ['Honda', 'Jeep'], ['Saab', 'Kia', 'Ford']]
[['Subaru', 'Nissan'], ['Volvo']]
[['Mazda', 'Chevy'], [], ['Volkswagen']]

In [39]:
for floor in lot_3d:
    for row in floor:
        for car in row:
            print(car)

Telsa
Fiat
BMW
Honda
Jeep
Saab
Kia
Ford
Subaru
Nissan
Volvo
Mazda
Chevy
Volkswagen

In [43]:
my_tuple = ('g','r','a','c','e',9,6)

In [44]:
my_tuple

('g', 'r', 'a', 'c', 'e', 9, 6)

In [45]:
my_tuple [3]

'c'

In [48]:
my_tuple[3] = 'h'

TypeError: 'tuple' object does not support item assignment

In [54]:
""" Where's My Mouse? """
import tkinter

def mouse_click(event):

    # retrieve XY coords as a tuple
    coords = root.winfo_pointerxy()
    print('coords: {}'.format(coords))
    print('X: {}'.format(coords[0]))
    print('Y: {}'.format(coords[1]))
    
root = tkinter.Tk()
root.bind('<Button>', mouse_click)
root.mainloop()

coords: (184, 261)
X: 184
Y: 261
coords: (184, 261)
X: 184
Y: 261
coords: (184, 261)
X: 184
Y: 261
coords: (184, 261)
X: 184
Y: 261
coords: (184, 261)
X: 184
Y: 261
coords: (223, 204)
X: 223
Y: 204
coords: (223, 260)
X: 223
Y: 260
coords: (195, 337)
X: 195
Y: 337
coords: (150, 316)
X: 150
Y: 316
coords: (151, 264)
X: 151
Y: 264