In [1]:
""" Creating and Combining Sets of Friends """

college = set(['Bill', 'Katy', 'Verne', 'Dillon',
               'Bruce', 'Olivia', 'Richard', 'Jim'])

coworker = set(['Aaron', 'Bill', 'Brandon', 'David',
                'Frank', 'Connie', 'Kyle', 'Olivia'])

family = set(['Garry', 'Landon', 'Larry', 'Mark',
              'Olivia', 'Katy', 'Rae', 'Tom'])

In [2]:
college

{'Bill', 'Bruce', 'Dillon', 'Jim', 'Katy', 'Olivia', 'Richard', 'Verne'}

In [4]:
family

{'Garry', 'Katy', 'Landon', 'Larry', 'Mark', 'Olivia', 'Rae', 'Tom'}

In [5]:
len(family)

8

In [6]:
len(coworker)

8

In [10]:
friends = college.union(coworker, family)

In [11]:
friends

{'Aaron',
 'Bill',
 'Brandon',
 'Bruce',
 'Connie',
 'David',
 'Dillon',
 'Frank',
 'Garry',
 'Jim',
 'Katy',
 'Kyle',
 'Landon',
 'Larry',
 'Mark',
 'Olivia',
 'Rae',
 'Richard',
 'Tom',
 'Verne'}

In [12]:
len(friends)

20

In [13]:
""" Sorting Friends into Sets """

# set of all friends
friends = set(['Mark', 'Rae', 'Verne', 'Richard',
               'Aaron', 'David', 'Bruce', 'Garry',
               'Bill', 'Connie', 'Larry', 'Jim',
               'Landon', 'Dillon', 'Frank', 'Tom',
               'Kyle', 'Katy', 'Olivia', 'Brandon'])

# set of people who live in my zip code
zipcode = set(['Jerry', 'Elaine', 'Cindy', 'Verne',
                'Rudolph', 'Bill', 'Olivia', 'Jim',
                'Lindsay', 'Rae', 'Mark', 'Kramer',
                'Landon', 'Newman', 'George'])

# set of people who play Munchkin
munchkins = set(['Steve', 'Jackson', 'Frank', 'Bill',
                 'Mark', 'Landon', 'Rae'])

# set of Olivia's friends
olivia = set(['Jim', 'Amanda', 'Verne', 'Nestor'])

In [14]:
local = friends.intersection(zipcode)

In [15]:
local

{'Bill', 'Jim', 'Landon', 'Mark', 'Olivia', 'Rae', 'Verne'}

In [17]:
invite = local.difference(munchkins)

In [18]:
invite

{'Jim', 'Olivia', 'Verne'}

In [19]:
munchkins.difference(local)

{'Frank', 'Jackson', 'Steve'}

In [21]:
invite = invite.symmetric_difference(olivia)

In [22]:
invite

{'Amanda', 'Nestor', 'Olivia'}

In [23]:
""" Adding and Removing Friends from Sets """

# revised set of friends to invite
invite = set(['Nestor', 'Amanda', 'Olivia'])

In [24]:
'verne'in invite

False

In [25]:
invite.add('verne')

In [26]:
invite

{'Amanda', 'Nestor', 'Olivia', 'verne'}

In [31]:
invite.add('Nestor')

In [28]:
invite

{'Amanda', 'Nestor', 'Olivia', 'nestor', 'verne'}

In [33]:
invite.remove('Nestor')

In [34]:
invite

{'Amanda', 'Olivia', 'verne'}

In [35]:
invite.pop()

'Olivia'

In [36]:
invite.pop()

'Amanda'

In [37]:
invite.pop()

'verne'